<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to My Restro</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/custom.css" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/js/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script> 
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="">My Restro</a> </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" id="categories">
        <li><a href="/starters">Starters</a></li>
        <li><a href="/burgers">Burgers</a></li>
        <li><a href="/desserts">Desserts</a></li>
        <li><a href="/pizza">Pizza</a></li>
        <li><a href="/soups">Soups</a></li>
        <li><a href="/wraps">Wraps</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
                    <li>
        <a href="login"><i class="glyphicon glyphicon-user"></i> Login / Register </a>
        </li>
                </li>
        <li><a href="checkout"><i class="glyphicon glyphicon-shopping-cart"></i> My Cart (<span id="cart_count">0</span>)</a></li>
      </ul>
    </div>
    <!--/.nav-collapse --> 
  </div>
</nav>
</div>